.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.p{
  text-align: left;
}
.delete{
  background-color: crimson;
}

.complete{
  background-color: cornflowerblue;
}
.todo{

  background-color: bisque;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:brown;

}
.todolist{
  height: 400px;
  overflow: auto;
  background: cyan;
  margin: 5px;
  padding: 0pt;

}
.input{
  border-radius: 0ex;
  background-color: cornflowerblue;
  border-radius: 5px;
  width: 97%;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
